In [35]:
# Drop columns with no valuable information
data_cleaned = data.drop(columns=['geolocation_address', 'geolocation_zip', 
                                  'geolocation_city', 'geolocation_state'])

# Rename columns for better readability
data_cleaned = data_cleaned.rename(columns={
    'locationabbr': 'location_abbr',
    'break_out_category': 'breakout_category',
    'classid': 'class_id',
    'topicid': 'topic_id',
    'breakoutid': 'breakout_id',
    'breakoutcategoryid': 'breakout_category_id'
})

# Sort by specific columns for better organization
data_cleaned = data_cleaned.sort_values(by=['year', 'locationdesc', 'topic', 'question']).reset_index(drop=True)

# Display the cleaned dataset
print(data_cleaned.head())  # Replace with display function if you're in a Jupyter notebook

   year  location_abbr                             locationdesc  \
0  2002          10420  Akron, OH Metropolitan Statistical Area
1  2002          10420  Akron, OH Metropolitan Statistical Area
2  2002          10420  Akron, OH Metropolitan Statistical Area
3  2002          10420  Akron, OH Metropolitan Statistical Area
4  2002          10420  Akron, OH Metropolitan Statistical Area

                       class                topic  \
0        Alcohol Consumption  Alcohol Consumption
1        Alcohol Consumption  Alcohol Consumption
2                Oral Health    All Teeth Removed
3                Oral Health    All Teeth Removed
4  Chronic Health Indicators               Asthma

                                            question response break_out  \
0  Adults who have had at least one drink of alco...       No   Overall
1  Adults who have had at least one drink of alco...      Yes   Overall
2  Adults aged 65+ who have had all their natural...      Yes   Overall
3  Adults aged 65+ who have had all their natural...       No   Overall
4  Adults who have been told they currently have ...       No   Overall

  breakout_category  sample_size  ...  data_value_footnote  datasource  \
0           Overall          202  ...                  NaN       BRFSS
1           Overall          337  ...                  NaN       BRFSS
2           Overall           76  ...                  NaN       BRFSS
3           Overall           19  ...                  NaN       BRFSS
4           Overall          495  ...                  NaN       BRFSS

   class_id  topic_id locationid breakout_id breakout_category_id questionid  \
0   CLASS01   Topic03      10420         BO1                 CAT1   DRNKANY3
1   CLASS01   Topic03      10420         BO1                 CAT1   DRNKANY3
2   CLASS13   Topic04      10420         BO1                 CAT1   _ALTEETH
3   CLASS13   Topic04      10420         BO1                 CAT1   _ALTEETH
4   CLASS03   Topic06      10420         BO1                 CAT1   _CASTHMA

  responseid                     geolocation
0    RESP054  POINT (-81.3501104 41.1466395)
1    RESP046  POINT (-81.3501104 41.1466395)
2    RESP046  POINT (-81.3501104 41.1466395)
3    RESP054  POINT (-81.3501104 41.1466395)
4    RESP054  POINT (-81.3501104 41.1466395)

[5 rows x 27 columns]

In [37]:
 #Filter rows where the 'topic' or other relevant columns contain 'alcohol' or 'drug'
data_filtered = data_cleaned[data_cleaned['topic'].str.contains('alcohol|drug', case=False, na=False)]

# Display the filtered data
print(data_filtered.head())  # For Jupyter, use `display(data_filtered.head())`

     year  location_abbr                                   locationdesc  \
0    2002          10420        Akron, OH Metropolitan Statistical Area
1    2002          10420        Akron, OH Metropolitan Statistical Area
51   2002          10740  Albuquerque, NM Metropolitan Statistical Area
52   2002          10740  Albuquerque, NM Metropolitan Statistical Area
102  2002          11260    Anchorage, AK Metropolitan Statistical Area

                   class                topic  \
0    Alcohol Consumption  Alcohol Consumption
1    Alcohol Consumption  Alcohol Consumption
51   Alcohol Consumption  Alcohol Consumption
52   Alcohol Consumption  Alcohol Consumption
102  Alcohol Consumption  Alcohol Consumption

                                              question response break_out  \
0    Adults who have had at least one drink of alco...       No   Overall
1    Adults who have had at least one drink of alco...      Yes   Overall
51   Adults who have had at least one drink of alco...      Yes   Overall
52   Adults who have had at least one drink of alco...       No   Overall
102  Adults who have had at least one drink of alco...      Yes   Overall

    breakout_category  sample_size  ...  data_value_footnote  datasource  \
0             Overall          202  ...                  NaN       BRFSS
1             Overall          337  ...                  NaN       BRFSS
51            Overall          764  ...                  NaN       BRFSS
52            Overall          545  ...                  NaN       BRFSS
102           Overall          333  ...                  NaN       BRFSS

     class_id  topic_id locationid breakout_id breakout_category_id  \
0     CLASS01   Topic03      10420         BO1                 CAT1
1     CLASS01   Topic03      10420         BO1                 CAT1
51    CLASS01   Topic03      10740         BO1                 CAT1
52    CLASS01   Topic03      10740         BO1                 CAT1
102   CLASS01   Topic03      11260         BO1                 CAT1

    questionid responseid                      geolocation
0     DRNKANY3    RESP054   POINT (-81.3501104 41.1466395)
1     DRNKANY3    RESP046   POINT (-81.3501104 41.1466395)
51    DRNKANY3    RESP046  POINT (-106.4565348 35.1166033)
52    DRNKANY3    RESP054  POINT (-106.4565348 35.1166033)
102   DRNKANY3    RESP046  POINT (-149.6610199 62.2190042)

[5 rows x 27 columns]

In [40]:
data_filtered.to_csv("filtered_alcohol_drug_use.csv", index=False)